.mainWrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 100;
    pointer-events: none;
}

.mainWrapper.active {
    pointer-events: auto;
}

.bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: all .3s ease;
}

.bg.active {
    opacity: 1;
}

.cartBlock {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 500px;
    background: #fff;
    transform: translateX(100%);
    transition: all .3s ease;
    overflow-y: scroll;
}

.cartBlock.active {
    transform: translateX(0);
}

.fullPrice {
    width: calc(100% - 50px);
    margin: 50px auto 25px auto;
    font-size: 20px;
    font-weight: 700;
    border-radius: 16px;
}

.goReview {
    display: block;
    width: calc(100% - 50px);
    margin: 25px auto;
}

.form {
    width: calc(100% - 50px);
    margin: 0 auto 50px auto;
}

.title {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}